.screen{
  margin: auto;
  margin-top: 2em;
  border: 3px solid #06283D;
  border-radius: 10px;
  width: 75vw;
  height: 65vh !important;
  display: flex;
  padding: 15px 20px 0px 10px;
  align-items: flex-end; 
}