
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
*{
  font-family: 'JetBrains Mono', monospace;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background: #DFF6FF;
}
